**/build/
bin/
gen/
captures/
.navigation/
.idea/
.gradle/
**/.settings/
**/.classpath
**/.project
**.DS_Store
**.iml
**/test-output/
**/project.properties
import-summary.txt
**/local.properties
SportKix/crashlytics.properties

*.log

**/crashlytics-build.properties
**/com_crashlytics_export_strings.xml
AndroidAutomation/target
AndroidAutomation/junit
**/seeds.txt
**/unused.txt
**/atlassian-ide-plugin.xml
**/mirror/